@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300; 700&family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.section1{
    background-color: #d7f5f5;
    padding: 20px 0pc 40px 0;

}
.section1 h2{
    margin-left:20%;
    font-weight: 700;
}

.section1 .box{
    height: 160px;
}

.section1 .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 60%;
    margin: auto;
}
.section1 .customer-message{
    background-color: white;
    padding: 13px 10px 10px 13px;
}
.bi-twitter{
    color: #01acee ;
}

.section1 .customer-message img{
    border-radius: 50%;
    width:40px;
    height: 40px;
}
.section1 .contain{
    display: flex;
    gap: 16px;
    align-items: center;

}
.section1 .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
}
.section1 p{
    padding-bottom: 10px;
    color: #939393;
}
.section1 span{
    padding-bottom: 10px;
    /* color: #939393; */
}
.section1 .contain .span1{
    font-weight: 900;
}
.section1 .contain .username{
    font-size: 10px;
}

.section1 .number_date{
    justify-content: space-between;
    display: flex;
}



.section2{
    background-color: white;
    margin-bottom: 100px;
    margin-top: 50px;
}
.center{
    text-align: center;  
}

.center p{
    font-size: 13px;
    padding-top: 5px; 
}

.section2 .card-plan{
    width: 25%;
    border: 2px solid #fee6cb !important;
    padding: 15px;
    background-color: #fbf8f3;
    margin: auto;
    line-height: 30px;
}
.section2 .card-plan p{
    font-size: 13px;
}

.section2 .bi-check-circle-fill{
    color: #2ad8ae;
    padding-right: 10px;
}
.line-height{
    line-height: 30px;
    padding-bottom: 10px;

}

.section2 h4 span{
    font-size: 20px;
    font-weight: 100px;
}
.section2 h4{
    font-size: 30px;
}



.section2 button{
    background-color: #01acee;
    border: none;
    width: 100%;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.section2 .bi-twitter{
    color: #fff;
    padding-right: 10px;
}

.bi-heart{
    padding-right: 2px;
}
